<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{0} [group : %X{group}, supervisor: %X{supervisor}, nodeId: %X{nodeId}] - %msg%n</pattern>
        </encoder>
    </appender>
 
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    
        <file>c:/Users/Admin/git/VisualLogicTool/VisualLogicToolV2/log/akka.log</file>
        <append>true</append>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{0} [group : %X{group}, route : %X{route} supervisor: %X{supervisor}, nodeId: %X{nodeId}] - %msg%n</pattern>
        </encoder>
    </appender>
 
    <logger name="akka" level="DEBUG" />
 
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
 
</configuration>